.Inicio{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #092532;
}
.display-4{
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
}

.lead{
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px black;
}

.inputName{
  color: white  
}

.inputPassword{
  color: white
}

.btn{
margin: auto;
}